body {
    background-color: rgb(51, 59, 155);
    font: Normal 15pt Arial;
    text-align: center;
}

header{
 color: aliceblue;
}

section{
background-color: aliceblue;
border-radius: 15px;
padding: 15px;
width: 500px;
margin: auto;
text-align: center;
}

footer{
color: aliceblue;
text-align: center;
}